<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main8}">
<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="content">
    <h2>BPMN Processes</h2>
    <p>The list of BPMN processes of users</p>
    <hr/>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">HR Applications</h5>
                    <p class="card-text">
                        <a href="/flowables/forms/job-application" title="Job application" target="" >Job application</a> <br/>
                        <a href="/flowables/forms/leave-application" title="Leave application" target="" >Leave application</a> <br/>
                        <a href="/flowables/forms/fire-application" title="Fire application" target="" >Fire application</a> <br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Company Structure</h5>
                    <p class="card-text">
                        <a href="/flowables/forms/new-bank-branch-opening-application" title="New Bank Branch Opening Application" target="" >New Bank Branch Opening Application</a> <br/>
                        <a href="/flowables/forms/new-department-opening-application" title="New Department Opening Application" target="" >New Department Opening Application</a> <br/>
                        <a href="/flowables/forms/company-dissolution-application" title="Company Dissolution Application" target="" >Company Dissolution Application</a> <br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 3</h5>
                    <p class="card-text">Description 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Tasks [11]</h5>
                        </div>
                        <!--div class="col" style="text-align:right;">
                            <a href="/positions/add" class="btn btn-primary mb-2" style="width:120px;"><i class="fas fa-plus me-1"></i> Add</a>
                        </div-->
                    </div>
                    <div class="row">
                        <div class="col">
                            <div th:if="${successMessage}" class="alert alert-success" position="alert">
                                <span th:text="${successMessage}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">

                        <!-- list of tasks -->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="align-middle" scope="col">Process Name</th>
                                <th class="align-middle" scope="col">Task Name</th>
                                <th class="align-middle" scope="col">Description</th>
                                <th class="text-center align-middle" scope="col">Priority</th>

                                <th class="text-center align-middle" scope="col" >Created</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="task : ${tasks}">
                                    <td class="align-middle" th:text="${processNames[task.id]}">Process Name</td>
                                    <td class="align-middle">
                                        <a th:href="@{/flowables/forms/approve-reject/{id}(id=${task.id})}" th:text="${task.name}"></a>
                                    </td>
                                    <td class="align-middle" th:text="${task.description ?: '-'}"></td>
                                    <td class="text-center align-middle" th:text="${task.priority}"></td>

                                    <td class="text-center align-middle" th:text="${#dates.format(task.createTime, 'dd.MM.yyyy HH:mm')}">Created</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- list of processes -->
                        <!--table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle" scope="col" >#</th>
                                    <th class="align-middle" scope="col">Title</th>
                                    <th class="align-middle" scope="col">Key</th>
                                    <th class="align-middle" scope="col">Version</th>
                                    <th class="text-center align-middle" scope="col" >Start Date</th>
                                    <th class="text-center align-middle" scope="col" >End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="task, iterStat : ${tasks}">
                                    <th class="text-center align-middle" th:text="${task.processInstanceId}"></th>
                                    <td class="text-center align-middle" th:text="${task.processName != null} ? ${task.processName} : '-' "></td>
                                    <td class="text-center align-middle" th:text="${task.processKey != null} ? ${task.processKey} : '-' "></td>
                                    <td class="text-center align-middle" th:text="${task.processVersion != null} ? ${task.processVersion} : '-' "></td>
                                    <td class="text-center align-middle"
                                        th:text="${task.startTime != null} ? ${#temporals.format(task.startTime, 'dd.MM.yyyy HH:mm')} : '-' ">
                                    </td>
                                    <td class="text-center align-middle"
                                        th:text="${task.endTime != null} ? ${#temporals.format(task.endTime, 'dd.MM.yyyy HH:mm')} : '-' ">
                                    </td>
                                </tr>
                            </tbody>
                        </table-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">11</h5>
                    <p class="card-text">11111</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">22</h5>
                    <p class="card-text">22222</p>
                </div>
            </div>
        </div>
    </div>
</section>
</html>