<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main8}">
<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="content">
    <h2>Processes</h2>
    <p>The list of processes of users</p>
    <hr/>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 1</h5>
                    <p class="card-text">Description 1</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 2</h5>
                    <p class="card-text">Description 2</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 3</h5>
                    <p class="card-text">Description 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Processes [11]</h5>
                        </div>
                        <!--div class="col" style="text-align:right;">
                            <a href="/positions/add" class="btn btn-primary mb-2" style="width:120px;"><i class="fas fa-plus me-1"></i> Add</a>
                        </div-->
                    </div>
                    <div class="row">
                        <div class="col">
                            <div th:if="${successMessage}" class="alert alert-success" position="alert">
                                <span th:text="${successMessage}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle" scope="col" >#</th>
                                    <th class="align-middle" scope="col">Title</th>
                                    <th class="align-middle" scope="col">Key</th>
                                    <th class="align-middle" scope="col">Version</th>
                                    <th class="text-center align-middle" scope="col" >Start Date</th>
                                    <th class="text-center align-middle" scope="col" >End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="process, iterStat : ${processes}">
                                    <th class="text-center align-middle" th:text="${process.processInstanceId}"></th>
                                    <td class="text-center align-middle" th:text="${process.processName != null} ? ${process.processName} : '-' "></td>
                                    <td class="text-center align-middle" th:text="${process.processKey != null} ? ${process.processKey} : '-' "></td>
                                    <td class="text-center align-middle" th:text="${process.processVersion != null} ? ${process.processVersion} : '-' "></td>
                                    <td class="text-center align-middle"
                                        th:text="${process.startTime != null} ? ${#temporals.format(process.startTime, 'dd.MM.yyyy HH:mm')} : '-' ">
                                    </td>
                                    <td class="text-center align-middle"
                                        th:text="${process.endTime != null} ? ${#temporals.format(process.endTime, 'dd.MM.yyyy HH:mm')} : '-' ">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">11</h5>
                    <p class="card-text">11111</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">22</h5>
                    <p class="card-text">22222</p>
                </div>
            </div>
        </div>
    </div>
</section>
</html>