<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main8}">
<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="content">
    <h2>Job application</h2>
    <p>Add a new user in CRM</p>
    <hr/>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">HR Applications</h5>
                    <p class="card-text">
                        <a href="/flowables/forms/job-application" title="Job application" target="" >Job application</a> <br/>
                        <a href="/flowables/forms/leave-application" title="Leave application" target="" >Leave application</a> <br/>
                        <a href="/flowables/forms/fire-application" title="Fire application" target="" >Fire application</a> <br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Company Structure</h5>
                    <p class="card-text">
                        <a href="/flowables/forms/new-bank-branch-opening-application" title="New Bank Branch Opening Application" target="" >New Bank Branch Opening Application</a> <br/>
                        <a href="/flowables/forms/new-department-opening-application" title="New Department Opening Application" target="" >New Department Opening Application</a> <br/>
                        <a href="/flowables/forms/company-dissolution-application" title="Company Dissolution Application" target="" >Company Dissolution Application</a> <br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 3</h5>
                    <p class="card-text">Description 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Approve or reject this application</h5>
                        </div>
                        <!--div class="col" style="text-align:right;"></div-->
                    </div>
                    <div class="row">
                        <div class="col">
                            <div th:if="${successMessage}" class="alert alert-success" position="alert">
                                <span th:text="${successMessage}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">

                        <div class="row">
                            <div class="col-md-6">

                                <!-- form (user task from process) -->
                                <form th:action="@{/flowables/forms/approve-reject/submit}" method="post">
                                    <input type="hidden" name="taskId" th:value="${task.getId()}" />

                                    <div class="row" style="margin-bottom:20px;">
                                        <div class="col-md-6" style="font-size:26px;" th:text="'Title: ' + ${task.name}">
                                            Approve or reject this application
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Display name: <b th:text="${variables['displayname']}">Dev John Connor</b></p>
                                            <p>Firstname: <b th:text="${variables['firstname']}">John</b></p>
                                            <p>Lastname: <b th:text="${variables['lastname']}">Connor</b></p>
                                            <p>Username: <b th:text="${variables['username']}">terminator</b></p> <br/>

                                            <p>Department: <b th:text="${variables['department'] ?: '-'}">Department</b></p>
                                            <p>Position: <b th:text="${variables['position'] ?: '-'}">Position</b></p>
                                            <p>Role: <b th:text="${variables['role'] ?: '-'}">Role</b></p> <br/>

                                            <p>E-mail: <b th:text="${variables['email']}">E-mail</b></p>
                                            <p>Phone: <b th:text="${variables['phone']}">Phone</b></p>
                                            <p>Age: <b th:text="${variables['age'] ?: '-'}">18</b></p>
                                            <p>Address: <b th:text="${variables['address'] ?: '-'}">Address</b></p>
                                        </div>
                                    </div>

                                    <!-- Approve -->
                                    <button type="submit" name="action" value="approve" class="btn btn-success me-2" style="width:120px;">
                                        <i class="fas fa-check-circle me-1"></i> Approve
                                    </button>

                                    <!-- Reject -->
                                    <button type="submit" name="action" value="reject" class="btn btn-danger me-2" style="width:120px;">
                                        <i class="fas fa-times-circle me-1"></i> Reject
                                    </button>

                                    <!-- Cancel -->
                                    <a href="/processes" class="btn btn-secondary me-2" style="width:120px;"><i class="fas fa-times me-1"></i> Cancel</a>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</html>

