<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main8}">
<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="content">
    <h2>Fire application</h2>
    <p>Fire user in CRM</p>
    <hr/>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 1</h5>
                    <p class="card-text">Description 1</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 2</h5>
                    <p class="card-text">Description 2</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 3</h5>
                    <p class="card-text">Description 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Fire application</h5>
                        </div>
                        <!--div class="col" style="text-align:right;">
                            <a href="/positions/add" class="btn btn-primary mb-2" style="width:120px;"><i class="fas fa-plus me-1"></i> Add</a>
                        </div-->
                    </div>
                    <div class="row">
                        <div class="col">
                            <div th:if="${successMessage}" class="alert alert-success" position="alert">
                                <span th:text="${successMessage}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">

                        <div class="row">
                            <div class="col-md-6">

                                <!-- form (user task from process) -->
                                <form th:action="@{/flowables/forms/fire-application/submit}" method="post">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="user" class="form-label required">Employee:</label>
                                                <select id="user" name="user_id" class="form-control">
                                                    <option th:each="u : ${users}" th:value="${u.id}" th:text="${u.firstname+' '+u.lastname+' ('+ (u.department.title ?: u.department.title) +', '+ (u.position.title ?: u.position.title) +'), ID:' + u.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="reason" class="form-label">Reason</label>
                                                <textarea id="reason" name="reason" class="form-control" rows="11" ></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- start date -->
                                            <div class="mb-3">
                                                <label for="lastDate" class="form-label required">Last Date</label>
                                                <input type="datetime-local" id="lastDate" name="last_date" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>

                                    <button type="submit" class="btn btn-primary me-2" style="width:120px;"><i class="fas fa-paper-plane me-1"></i> Submit</button>
                                    <a href="/processes" class="btn btn-secondary" style="width:120px;"><i class="fas fa-times me-1"></i> Cancel</a>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>

