<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main8}">
<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="content">
    <h2>Activities</h2>
    <p>The list of activities</p>
    <hr/>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 1</h5>
                    <p class="card-text">Description 1</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 2</h5>
                    <p class="card-text">Description 2</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 3</h5>
                    <p class="card-text">Description 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Add Activity</h5>
                        </div>
                        <div class="col" style="text-align:right;">
                            <!--a href="/activities/edit/1" class="btn btn-primary" style="width:120px;"><i class="fas fa-pen me-1"></i> Edit</a-->
                        </div>
                    </div>
                    <div class="card-text">
                        <form th:action="@{/activities/add}" th:object="${activityDto}" method="post">

                            <!-- title -->
                            <div class="mb-3">
                                <label for="title" class="form-label required">Title</label>
                                <input type="text" id="title" th:field="*{title}" class="form-control"  />
                                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
                            </div>

                            <!-- description -->
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea id="description" th:field="*{description}" class="form-control" rows="4" ></textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>
                            </div>

                            <!-- client -->
                            <div class="mb-3" th:if="${clients != null and !#lists.isEmpty(clients)}">
                                <label for="client" class="form-label required">Clients</label>
                                <select id="client" th:field="*{client}" class="form-select">
                                    <!-- обычный value, без th:value -->
                                    <option value="" disabled selected>-- Select Client --</option>
                                    <option th:each="ro : ${clients}"
                                            th:value="${ro.id}"
                                            th:text="${ro.company}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('client')}" th:errors="*{client}">
                                    Client error
                                </div>
                            </div>
                            <div th:if="${clients == null or #lists.isEmpty(clients)}" class="alert alert-warning mt-3">
                                Need to add some <a th:href="@{/clients/add}">clients</a>
                            </div>

                            <!-- contact -->
                            <div class="mb-3" th:if="${contacts != null and !#lists.isEmpty(contacts)}">
                                <label for="contact" class="form-label required">Contacts</label>
                                <select id="contact" th:field="*{contact}" class="form-select">
                                    <!-- обычный value, без th:value -->
                                    <option value="" disabled selected>-- Select Contact --</option>
                                    <option th:each="con : ${contacts}"
                                            th:value="${con.id}"
                                            th:text="${con.firstname+' '+con.lastname}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}">
                                    Contact error
                                </div>
                            </div>
                            <div th:if="${contacts == null or #lists.isEmpty(contacts)}" class="alert alert-warning mt-3">
                                Need to add some <a th:href="@{/contacts/add}">contacts</a>
                            </div>

                            <!-- types -->
                            <div class="mb-3" th:if="${types != null and !#lists.isEmpty(types)}">
                                <label for="type" class="form-label required">Activity Type</label>
                                <select id="type" th:field="*{type}" class="form-select">
                                    <option value="" disabled selected>-- Select Activity Type --</option>
                                    <option th:each="t : ${types}"
                                            th:value="${t}"
                                            th:text="${t}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">
                                    Type error
                                </div>
                            </div>
                            <div th:if="${types == null or #lists.isEmpty(types)}" class="alert alert-warning mt-3">
                                Need to add some types
                            </div>

                            <!-- date time -->
                            <div class="mb-3">
                                <label for="dateTime" class="form-label required">DateTime</label>
                                <!--input type="text" id="dateTime" th:field="*{dateTime}" class="form-control"  /-->
                                <input type="datetime-local" id="dateTime" th:field="*{dateTime}" class="form-control" />
                                <div class="text-danger" th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}">DateTime error</div>
                            </div>

                            <!-- status -->
                            <div class="mb-3" th:if="${statuses != null and !#lists.isEmpty(statuses)}">
                                <label for="status" class="form-label required">Activity Status</label>
                                <select id="status" th:field="*{status}" class="form-select">
                                    <option value="" disabled selected>-- Select Activity Status --</option>
                                    <option th:each="t : ${statuses}"
                                            th:value="${t}"
                                            th:text="${t}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">
                                    Status error
                                </div>
                            </div>
                            <div th:if="${statuses == null or #lists.isEmpty(statuses)}" class="alert alert-warning mt-3">
                                Need to add some statuses
                            </div>

                            <button type="submit" class="btn btn-primary me-2" style="width:120px;"><i class="fas fa-save me-1"></i> Save</button>
                            <a href="/activities" class="btn btn-secondary" style="width:120px;"><i class="fas fa-times me-1"></i> Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">11</h5>
                    <p class="card-text">11111</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">22</h5>
                    <p class="card-text">22222</p>
                </div>
            </div>
        </div>
    </div>
</section>
</html>