.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Обращаемся к выпадающему меню, которое открывается от нашего ID */
div#lang-drop + ul.dropdown-menu,
ul.dropdown-menu[aria-labelledby="lang-drop"] {
    --bs-dropdown-min-width: 50px !important;
    width: 50px !important;
}

/* Добавляет красную звездочку после текста внутри label с классом required */
.form-label.required::after {
    content: " *";
    color: #dc3545; /* Стандартный красный цвет Bootstrap (text-danger) */
    font-weight: bold;
}

/* - - - - - - */
a {
    color: #03aac7 !important;
}
.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:link {
    background-color: #28a473 !important;
    border: 1px solid #28a473;
    --bs-btn-active-border-color: #28a473 !important;
}
.btn-primary {
    color: #FFF !important;
}
.page-item.active .page-link {
    color: #FFF !important;
    background-color: #03aac7 !important;
    border-color: #03aac7 !important;
}
.page-item .page-link {
    color: #03aac7 !important;
}

/* - - - - - постраничная навигация - - - - - - */
/* Контейнер пагинации */
.pagination {
    gap: 5px; /* Расстояние между кнопками */
}

/* Стили самих кнопок */
.page-item .page-link {
    color: #0d6efd;
    border-radius: 6px !important; /* Закругляем каждую кнопку */
    border: 1px solid #dee2e6;
    min-width: 40px;
    text-align: center;
    transition: all 0.2s ease;
}

/* Активная страница */
.page-item.active .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
}

/* Кнопки Назад/Вперед в состоянии disabled */
.page-item.disabled .page-link {
    background-color: #f8f9fa;
    color: #6c757d;
    border-color: #dee2e6;
}

/* Убираем рамку у многоточия */
.page-item.disabled span.page-link {
    background: transparent;
    border: none;
}
.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
}

/* - - - - смена темы - - - - - - - */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body[data-theme='dark'] {
    --bg-color: #1a202c;
    --text-color: #f7fafc;
    background-color: #000;
    --sidebar-bg: #111827;
    --content-bg: #1f2937;
    --text-main: #f9fafb;
    --border-color: #374151;
}

body[data-theme='dark'] .bg-white {
    background-color: #000 !important;
    color: #FFF !important;
}
body[data-theme='dark'] aside, body[data-theme='dark'] .text-secondary {
    background-color: #000 !important;
    color: #FFF !important;
}
body[data-theme='dark'] .text-dark, body[data-theme='dark'] .text-muted, body[data-theme='dark'] .nav-link {
    color: #FFF !important;
}
body[data-theme='dark'] .text-dark.active {
    color: #000 !important;
}

a.dropdown-toggle.nav-link {
    color: #03aac7 !important;
}
.text-primary {
    color: #03aac7 !important;
}
.btn-primary {
    background-color: #03aac7 !important;
    border-color: #03aac7 !important;
}
.bg-primary {
    background-color: #03aac7 !important;
}

.btn-green, .btn-green:hover {
    background-color: #28a473 !important;
    border-color: #28a473 !important;
    color: #FFF;
}
.btn-red, .btn-red:hover {
    background-color: #f63c55 !important;
    border-color: #f63c55 !important;
    color: #FFF;
}

.custom-checkbox {
    accent-color: #03aac7 !important;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease; /* Плавный переход */
}
/* - - - - - - - - - - - - - - - */

/* Слой затемнения */
.table-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Белая пелена */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: 10px;
}

/* - - - - - - - - - - - - - - - */

