<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main8}">
<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="content">
    <h2>Deals</h2>
    <p>The list of deals</p>
    <hr/>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 1</h5>
                    <p class="card-text">Description 1</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 2</h5>
                    <p class="card-text">Description 2</p>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block 3</h5>
                    <p class="card-text">Description 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Edit Deal</h5>
                        </div>
                        <div class="col" style="text-align:right;">
                            <a href="/deals/add" class="btn btn-primary" style="width:120px;"><i class="fas fa-plus me-1"></i> Add</a>
                        </div>
                    </div>
                    <div class="card-text">
                        <form th:action="@{/deals/edit}" th:object="${dealDto}" method="post">
                            <input type="hidden" th:field="*{id}" />

                            <!-- client -->
                            <div class="mb-3" th:if="${clients != null and !#lists.isEmpty(clients)}">
                                <label for="client" class="form-label required">Clients</label>
                                <select id="client" th:field="*{client}" class="form-select">
                                    <!-- обычный value, без th:value -->
                                    <option value="" disabled selected>-- Select Client --</option>
                                    <option th:each="ro : ${clients}"
                                            th:value="${ro.id}"
                                            th:text="${ro.company}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('client')}" th:errors="*{client}">
                                    Client error
                                </div>
                            </div>
                            <div th:if="${clients == null or #lists.isEmpty(clients)}" class="alert alert-warning mt-3">
                                Need to add some <a th:href="@{/clients/add}">clients</a>
                            </div>

                            <!-- name -->
                            <div class="mb-3">
                                <label for="name" class="form-label required">Name</label>
                                <input type="text" id="name" th:field="*{name}" class="form-control"  />
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                            </div>

                            <!-- amount -->
                            <div class="mb-3">
                                <label for="amount" class="form-label required">Amount</label>
                                <input type="text" id="amount" th:field="*{amount}" class="form-control"  />
                                <div class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount error</div>
                            </div>

                            <!-- currency -->
                            <div class="mb-3">
                                <label for="currency" class="form-label required">Currency</label>
                                <input type="text" id="currency" th:field="*{currency}" class="form-control"  />
                                <div class="text-danger" th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}">Currency error</div>
                            </div>

                            <!-- stages -->
                            <div class="mb-3" th:if="${stages != null and !#lists.isEmpty(stages)}">
                                <label for="stage" class="form-label required">Deal Stage</label>
                                <select id="stage" th:field="*{stage}" class="form-select">
                                    <option value="" disabled selected>-- Select Activity Type --</option>
                                    <option th:each="st : ${stages}"
                                            th:value="${st}"
                                            th:text="${st}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('stage')}" th:errors="*{stage}">
                                    Stage error
                                </div>
                            </div>
                            <div th:if="${stages == null or #lists.isEmpty(stages)}" class="alert alert-warning mt-3">
                                Need to add some stages
                            </div>

                            <!-- start date -->
                            <div class="mb-3">
                                <label for="startDate" class="form-label required">Start Date</label>
                                <input type="datetime-local" id="startDate" th:field="*{startDate}" class="form-control" />
                                <div class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Start Date error</div>
                            </div>

                            <!-- close date -->
                            <div class="mb-3">
                                <label for="closeDate" class="form-label required">Close Date</label>
                                <input type="datetime-local" id="closeDate" th:field="*{closeDate}" class="form-control" />
                                <div class="text-danger" th:if="${#fields.hasErrors('closeDate')}" th:errors="*{closeDate}">Close Date error</div>
                            </div>

                            <button type="submit" class="btn btn-primary me-2" style="width:120px;">
                                <i class="fas fa-save me-1"></i> Save
                            </button>
                            <a href="/deals" class="btn btn-secondary" style="width:120px;">
                                <i class="fas fa-times me-1"></i> Cancel
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">11</h5>
                    <p class="card-text">11111</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">22</h5>
                    <p class="card-text">22222</p>
                </div>
            </div>
        </div>
    </div>
</section>
</html>